extends ../layouts/default.pug
include ../mixins/breadcrumb.pug

block title
  title Danh sách sản phẩm

block main
  
  //- Box Breadcrumb
  -
    var breadcrumb = [
      {
        link: "#",
        title: "Trang chủ"
      },
      {
        link: "#",
        title: "Chó"
      },
      {
        link: "#",
        title: "Chó nhỏ"
      }
    ];

  +breadcrumb(breadcrumb, "container")
  //- End Box Breadcrumb

  //- Section 3
  include ../partials/section-3.pug
  //- End Section 3

  //- Layout Product
  .layout-product
    .container
      .layout-product__wrap
        .layout-product__left
          .filter
            .filter__title
              img(src="assets/images/icon-filter.svg")
              | Bộ lọc
            .filter__list
              .filter__item
                .filter__item-title Giống
                .filter__item-box
                  .filter__item-choose
                    input(type="checkbox")
                    label Đực
                  .filter__item-choose
                    input(type="checkbox")
                    label Cái
              .filter__item
                .filter__item-title Màu sắc
                .filter__item-box
                  .filter__item-choose
                    input(type="checkbox")
                    label Xám
                  .filter__item-choose
                    input(type="checkbox")
                    label Đen
                  .filter__item-choose
                    input(type="checkbox")
                    label Trắng
              .filter__item
                .filter__item-title Kích thước
                .filter__item-box
                  .filter__item-choose
                    input(type="checkbox")
                    label Nhỏ
                  .filter__item-choose
                    input(type="checkbox")
                    label Vừa
                  .filter__item-choose
                    input(type="checkbox")
                    label Lớn
        .layout-product__right
          .layout-product__head
            h1.layout-product__title Chó Nhỏ
            button.layout-product__filter
              img(src="assets/images/icon-filter.svg")
              | Bộ lọc
          .layout-product__list
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product-1.jpg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO231 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_2.jpg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO232 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND 
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
            .product-item
              div(class="product-item__image")
                a(href="#")
                  img(
                    alt="" 
                    src="assets/images/product_3.svg"
                    )
              div(class="product-item__content")
                h3(class="product-item__title")
                  a(href="#") MO233 - Pomeranian Trắng
                div(class="product-item__desc")
                  div(class="product-item__desc-item")
                    | Giống:
                    b Đực
                  div(class="product-item__dot")
                  div(class="product-item__desc-item")
                    | Tuổi:
                    b 02 tháng
                div(class="product-item__price") 6.900.000 VND
          .layout-product__pagination
            .pagination
              button.pagination__button <i class="fa-solid fa-arrow-left"></i>
              button.pagination__button.pagination__button--active 1
              button.pagination__button 2
              button.pagination__button 3
              button.pagination__button 4
              button.pagination__button.pagination__button--disabled ...
              button.pagination__button 28
              button.pagination__button <i class="fa-solid fa-arrow-right"></i>

          
  //- End Layout Product